<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="Admin/partials/_head :: adminHead"></div>
    <div th:replace="Admin/partials/_plugin :: adminPlugin"></div>
</head>
<body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <div th:replace="Admin/partials/_navbar :: adminNavbar"></div>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->
        <div th:replace="Admin/partials/_settings-panel :: adminSetting"></div>
        <!-- partial -->
        <!-- partial:../../partials/_sidebar.html -->
        <div th:replace="Admin/partials/_sidebar :: adminSidebar"></div>
        <!-- partial -->
        <div class="main-panel"> 
          <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">Guest List</h4>
                        <div class="table-responsive pt-3">
                          <table class="table table-dark">
                            <thead>
                              <tr>
                                <th>
                                  ID
                                </th>
                                <th>
                                  First name
                                </th>
                                <th>
                                  Last Name
                                </th>
                                <th>
                                  Gender
                                </th>
                                <th>
                                  Email
                                </th>
                                <th>
                                  Phone Number
                                </th>
                                <th>
                                  Address
                                </th>
                                <th>
                                  Note
                                </th>
                              </tr>
                            </thead>
                            <tBody>
                                <th:block th:each="guest : ${guests}">
                                    <tr>
                                        <td>[[${guest.id}]]</td>
                                        <td>[[${guest.guestFirstName}]]</td>
                                        <td>[[${guest.guestLastName}]]</td>
                                        
                                        <div th:switch="${guest.guestGender}">
                                            <td th:case="false">Male</td>
                                            <td th:case="true">Female</td>
                                        </div>
                                        
                                        <td>[[${guest.guestEmail}]]</td>
                                        <td>[[${guest.guestPhone}]]</td>
                                        <td>[[${guest.guestAddress}]]</td>
                                        <td>[[${guest.guestNote}]]</td>
                                        <td><a th:href="@{'/admin/guest/delete/' + ${guest.id}}" type="button" class="btn btn-danger" style="margin-right: 10px">Delete</a></td>
                                    </tr>
                                </th:block>
                            </tBody>
                          </table>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer th:replace="Admin/partials/_footer :: adminFoot"></footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
  </body>
</html>