<div th:fragment="adminPlugin">
    <!-- plugins:js -->
    <script src="../../admin/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="../../admin/vendors/chart.js/Chart.min.js"></script>
    <script src="../../admin/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="../../admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="../../admin/js/dataTables.select.min.js"></script>

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../admin/js/off-canvas.js"></script>
    <script src="../../admin/js/hoverable-collapse.js"></script>
    <script src="../../admin/js/template.js"></script>
    <script src="../../admin/js/settings.js"></script>
    <script src="../../admin/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="../../admin/js/dashboard.js"></script>
    <script src="../../admin/js/Chart.roundedBarCharts.js"></script>
    <!-- End custom js for this page-->
    <script src="../../admin/js/weather.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- plugins:js -->
  <script src="../../admin/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../../admin/js/off-canvas.js"></script>
  <script src="../../admin/js/hoverable-collapse.js"></script>
  <script src="../../admin/js/template.js"></script>
  <script src="../../admin/js/settings.js"></script>
  <script src="../../admin/js/todolist.js"></script>
  <!-- endinject -->
</div>