<!DOCTYPE html>
<html lang="en">
<head th:fragment = "frHeadTag">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" th:href="@{/CSS/style.css}"/>

    <title>Demo</title>
</head>
<body>
    
</body>
</html>