<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="Admin/partials/_head :: adminHead"></div>
    <div th:replace="Admin/partials/_plugin :: adminPlugin"></div>
</head>
<body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <div th:replace="Admin/partials/_navbar :: adminNavbar"></div>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->
        <div th:replace="Admin/partials/_settings-panel :: adminSetting"></div>
        <!-- partial -->
        <!-- partial:../../partials/_sidebar.html -->
        <div th:replace="Admin/partials/_sidebar :: adminSidebar"></div>
        <!-- partial -->
        <div class="main-panel"> 
          <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">Room list</h4>
                        <a th:href="@{/admin/addRoom}" type="button" class="btn btn-success">New Room</a>
                        <div class="table-responsive pt-3">
                          <table class="table table-dark">
                            <thead>
                              <tr>
                                <th>
                                  ID
                                </th>
                                <th>
                                  Room Name
                                </th>
                                <th>
                                  Room Description
                                </th>
                                <th>
                                  Room Price
                                </th>
                                <th>
                                  Type
                                </th>
                                <th>
                                  Hotel
                                </th>
                              </tr>
                            </thead>
                            <tBody>
                                <th:block th:each="room : ${rooms}">
                                    <tr>
                                        <td>[[${room.id}]]</td>
                                        <td>[[${room.roomName}]]</td>
                                        <td>[[${room.roomDescription}]]</td>
                                        <td>[[${room.roomPrice}]]</td>
                                        <td>[[${room.type}]]</td>
                                        <td>[[${room.hotel}]]</td>
                                        <td>
                                          <a th:href="@{'/admin/room/edit/' + ${room.id}}" type="button" class="btn btn-warning" style="margin-right: 10px">Edit</a>
                                          <a th:href="@{'/admin/room/delete/' + ${room.id}}" type="button" class="btn btn-danger" style="margin-right: 10px">Delete</a>
                                        </td>
                                    </tr>
                                </th:block>
                            </tBody>
                          </table>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer th:replace="Admin/partials/_footer :: adminFoot"></footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
  </body>
</html>