<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="Admin/partials/_head :: adminHead"></div>
    <div th:replace="Admin/partials/_plugin :: adminPlugin"></div>
</head>
<body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <div th:replace="Admin/partials/_navbar :: adminNavbar"></div>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->
        <div th:replace="Admin/partials/_settings-panel :: adminSetting"></div>
        <!-- partial -->
        <!-- partial:../../partials/_sidebar.html -->
        <div th:replace="Admin/partials/_sidebar :: adminSidebar"></div>
        <!-- partial -->
        <div class="main-panel"> 
          <div class="content-wrapper">
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Add new Room</h4>
                            <p class="card-description">
                                Insert new Room's information
                            </p>
                            <form class="forms-sample" th:action="@{/admin/room/save}" method="post" th:object="${room}"
                                  enctype="multipart/form-data">
                                <input type="hidden" th:field="*{id}">
                                <div class="form-group">
                                    <label>Room's Name</label>
                                    <input th:field="*{roomName}" type="text" class="form-control"
                                           placeholder="Enter Room's Name">
                                </div>
                                <div class="form-group">
                                    <label>Room's Description</label>
                                    <input th:field="*{roomDescription}" type="text" class="form-control"
                                           placeholder="Enter Room's Description">
                                </div>
                                <div class="form-group">
                                    <label>Room's Price</label>
                                    <input th:field="*{roomPrice}" type="text" class="form-control"
                                           placeholder="Enter Room's Price">
                                </div>
                                <div class="form-group">
                                    <label for="exampleSelectGender"></label>
                                    <select th:field="*{type}" class="form-control" id="exampleSelectGender">
                                        <option th:each="type : ${Types}"
                                                th:value="${type.id}"
                                                th:text="${type.typeName}">
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleSelectGender"></label>
                                    <select th:field="*{hotel}" class="form-control" id="exampleSelectGender">
                                        <option th:each="hotel : ${Hotels}"
                                                th:value="${hotel.id}"
                                                th:text="${hotel.hotelName}">
                                        </option>
                                    </select>
                                </div>

                                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                <a class="btn btn-light" th:href="@{/admin/roomlist}">Cancel</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer th:replace="Admin/partials/_footer :: adminFoot"></footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
  </body>
</html>